# e.g. discourse.mydomain.com
DISCOURSE_BASE_URL=

# API key generated in the Discourse API admin panel
DISCOURSE_API_KEY=

# Username to log into the API with.
DISCOURSE_API_USERNAME=

# Fetch images contained within topics with this tag.
DISCOURSE_TAG=

# If error, notify this Discourse user (not currently implemented)
DISCOURSE_NOTIFICATION_USER=

# How frequently to run an image fetch in minutes.
FETCH_INTERVAL=900

# Maximum number of images to be stored at any time. If exceeded, oldest images will be removed.
IMAGE_LIMIT=50

# Directory on the host to store images in. Only change if you know what you are doing.
IMAGES_DIR='data/images'